name: 'Update by stargazed'
# This workflow runs at 00:30 everyday
on:
  workflow_dispatch:
  schedule:
    -
      cron: '30 0 * * *'

jobs:
  build:
    name: 'stargazed update'
    runs-on: ubuntu-latest
    steps:
      -
        name: 'Use GitHub Actions'
        uses: actions/checkout@v2
          
      -
        name: 'Use Node.js 18.x'
        uses: actions/setup-node@v3
        with:
          node-version: 18

      -
        name: 'Install corepack'
        run: 'npm i -g corepack'

      -
        name: 'Enabled yarn 2'
        run: 'yarn init -2'

      -
        name: 'Install Package'
        run: yarn add 'stargazed@https://github.com/abhijithvijayan/stargazed'
        
      -
        name: 'Update Repo'
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
        run: 'yarn exec stargazed --username  "andgar2010" --token ${GITHUB_TOKEN} --repo "awesome-stars" --message "stargazed update by GitHub Actions Workflow" --sort'
